{
  "presets": ["es2015","stage-1","react"],
  "plugins":[
    ["antd",{
      "style": "css"
    }],
     ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["transform-decorators-legacy"]
  ]
}